{#
/**
 * @file
 * Default theme implementation for status messages, borrowed from the bootstrap drupal theme.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - display: (optional) May have a value of 'status' or 'error' when only
 *   displaying messages of that specific type.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 *
 * @ingroup templates
 *
 * @see template_preprocess_status_messages()
 */
#}

{% set status_classes = {
'status': 'success',
'error': 'warning',
'warning': 'warning',
'info': 'info',
} %}
{% for type, messages in message_list %}
    {% set classes = [
    'alert',
    'alert-' ~ status_classes[type],
    ] %}
    {% if messages %}
        {% for message in messages %}
            <div {{ attributes.addClass(classes) }} role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endfor %}
