ul {
  // Lists in two columns
  &.columns {
    clear: both;
    @extend .row;
    li {
      p {
        margin: 0;
      }
      // Why?
      ul li {
        width: 100%;
      }
    }
    // Two column lists.
    &.columns--two {
      li {
        @extend .col-6;
        &:nth-of-type(odd) {
          clear: both;
        }
      }
    }
    // Three column lists.
    &.columns--three {
      li {
        @extend .col-4;
        &:nth-of-type(3n+1) {
          clear: both;
        }
      }
    }
  }
}