

// Image sizing for the media bundle image view modes.
.embedded-entity {
  &--25 {
    width:25%;
    display:block;
    @include media-breakpoint-down(xs) {
      width:100%;
    }

    img {
      width:100%;
      height:auto;
    }
  }
  &--33 {
    width:33%;
    display:block;
    @include media-breakpoint-down(xs) {
      width:100%;
    }
    img {
      width:100%;
      height:auto;
    }
  }
  &--50 {
    width:50%;
    display:block;
    @include media-breakpoint-down(xs) {
      width:100%;
    }
    img {
      width:100%;
      height:auto;
    }
  }
  &--75 {
    width:75%;
    display:block;
    @include media-breakpoint-down(xs) {
      width:100%;
    }
    img {
      width:100%;
      height:auto;
    }
  }
  &--100 {
    width:100%;
    display:block;
    margin-bottom:20px;
    @include media-breakpoint-down(xs) {
      width:100%;
    }
    img {
      width:100%;
      height:auto;
    }
  }
}

// Deal with when images are inside a figure tag.
.embedded-entity {
  .media-image {
    width:auto;
    float:none;
    margin:0;
  }

  // Re apply the right wysiwyg image float.
  &.align-right {
    float: right;
    margin-left:1em;
  }

  // Re apply the left wysiwyg image float.
  &.align-left {
    float: left;
    margin-right:1em;
  }
}


figure {
  &.embedded-entity {
    margin:0 0 1em 0;
  }
  figcaption {

    padding:10px 10px;
  }
}



// Wysiwyg styles for blockquote, colors to be added in your own theme.
.blockquote {
  &--left {
    float: left;
    max-width:50%;
    margin:0 1em 0 0; // @todo should this be grid gutter width variable?
  }
  &--right {
    float: right;
    max-width:50%;
    margin:0  0 0 1em; // @todo should this be grid gutter width variable?
  }
}