{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<div {{ attributes.addClass('slide') }}>
  {{ title_suffix.contextual_links }}
  <div class="slide__content">
    <div class="slide__title">
        {{ content.field_slide_title }}
    </div>
    <div class="slide__description">
        {{ content.field_slide_description }}
    </div>
  </div>
  <div class="slide__image">
      {{ content.field_media_image }}
  </div>
</div>
