{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<div {{ attributes }}>
    <div class="display-table">
        <div class="file__icon display-table-cell">
       {{ icon | raw }}
        </div>
        <div class="file__link display-table-cell">
            {{ content.field_media_file }}
            <div class="file__details">[.{{ type }}, {{ size }}]</div>
        </div>
    </div>

</div>
