<div{{ attributes.addClass('row') }}>
    <div class="col-md-4">
        <div {{ region_attributes.left.addClass('layout__region')}}>
            {{ content.left }}
        </div>
    </div>
    <div class="col-md-4">
        <div {{ region_attributes.center.addClass('layout__region')}}>
            {{ content.center }}
        </div>
    </div>
    <div class="col-md-4">
        <div {{ region_attributes.right.addClass('layout__region') }}>
            {{ content.right }}
        </div>
    </div>
</div>