{#
/**
 * @file
 * Theme override for vertical tabs.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered tabs.
 *
 * @see template_preprocess_vertical_tabs()
 */
#}
<div data-vertical-tabs-panes {{ attributes }}>{{ children }}</div>
