{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}

<div {{ attributes.addClass('listing').addClass('listing--featured') }}>
    {{ title_prefix }}
    {{ title_suffix }}

        <a href="{{ url }}">
            <img src="https://via.placeholder.com/300x200" />
            <div class="title">{{ label }}</div>
        </a>

</div>