{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}

<div {{ attributes.addClass('card').addClass('card--image-title') }}>
    {{ title_prefix }}
    {{ title_suffix }}
    <div class="card__inner">
        <a href="{{ url }}">
            <div class="card__image">
                <img src="https://via.placeholder.com/300x200" />
            </div>
            <div class="card__title">{{ label }}</div>
        </a>
    </div>
</div>