{#
/**
 * @file
 * Default theme implementation to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 *
 * @ingroup themeable
 */
#}


<div style="margin: 25% 0; padding:0px 25px; text-align:center; ">
  <h1 style="visibility:hidden;height:0;overflow:hidden;">{{ site_name }}</h1>
  <img src="{{ logo }}" alt="Logo" class="maintenance-logo" style="max-width:300px; height:auto;">
  <div style="font-family:arial; font-size:16px; text-align:center; width:350px; max-width:100%; margin:20px auto 0;">{{ page.content }}</div>
</div>
