{#
/**
 * @file
 * Default theme implementation to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 *
 * @see template_preprocess_menu_local_tasks()
 *
 * @ingroup templates
 */
#}
    {% if primary %}
        <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
        <ul class="tabs--primary nav nav-tabs mb-3">{{ primary }}</ul>
    {% endif %}
    {% if secondary %}
        <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
        <ul class="tabs--secondary nav nav-pills mb-3">{{ secondary }}</ul>
    {% endif %}

